body {
    background-color: white;
}

.MainPanel {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 280px;
    border: solid 1px #002594;
    background-color: azure;
}

.Labels {
    position: absolute;
    font-family: Arial, Helvetica;
}

.MessageLabels {
    position: absolute;
    font-family: Arial, Helvetica;
    background-color: aliceblue;
    border: solid 1px gray;
    font-size: 10pt;
}

.Textboxes {
    position: absolute;
    font-family: Arial, Helvetica;
}

.Buttons {
    position: absolute;
    height: 40px;
    font-family: Arial, Helvetica;
    background-color: paleturquoise;
    border: solid 1px gray;
    font-size: 12pt;
    width: 130px;
}

.Images {
    position: absolute;
    border: solid 1px #002594;
}

.ListBoxes {
    position: absolute;
    border: solid 1px #002594;
    background-color: ButtonFace;
}
